* {
    border: none;
    border-radius: 0px;

    font-family: "Fira Code Nerd Font", Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;

    min-height: 0;
}

#window {
    background: #282828;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.0);
    border-bottom: 0px solid #282828;
    color: #301220;
}

.modules-left, .modules-center, .modules-right {
    background: #dddddd;
    border-radius: 12px;
    padding: 5px;
    margin: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 8px 8px -10px rgba(0,0,0,0.52);
}

.modules-left {
    padding-left: 10px;
    padding-right: 10px;
}

.modules-right {
    padding-right: 10px;
}

#workspaces {
    background-color: transparent;
}
#workspaces button {
    padding: 2px;
    border-radius: 16px;
    color: #e5809e;
}

#workspaces button.active {
    padding: 2px 6px;
    color: #402232;
    background-color: transparent;
    border-radius: 32px;
}

#custom-playerctl, #backlight, #disk, #memory, #cpu, #temperature, #custom-date, #custom-lock, #clock, #battery, #pulseaudio, #network, #custom-randwall, #custom-launcher, #idle_inhibitor {
    background: transparent;
    padding: 5px 12px 5px 12px;
}

#tray {
    border: 0px solid #282828;
    background-color: #aaaaaa;
    border-radius: 12px;
    padding: 0px 10px;
    box-shadow: 0px 8px 8px -10px rgba(0,0,0,0.8) inset;
}

#battery {
    padding: 5px 15px 5px 10px;
    border-radius: 5px;
    color: #559922;
}

#battery.charging {
    color: #559922;
}

#battery.warning:not(.charging) {
    background-color: #f77777;
    color: #24283b;
}

#battery.critical:not(.charging) {
    background-color: #FF4444;
    color: #24283b;
}

#custom-ping {
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

#custom-ping.good {
    color: #559922;
}

#custom-ping.warning {
    background-color: #f77777;
    color: #44486b;
}

#custom-ping.critical {
    background-color: #FF4444;
    color: #44486b;
}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}
