* {
    border: none;
    border-radius: 0px;
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: "Fira Code Nerd Font", Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 18px;
    font-style: normal;
    min-height: 0;
}

#window {
    background: #282828;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    /* margin-bottom: 5px; */
    font-weight: normal;
    font-style: normal;
}

window#waybar {
    background: rgba(30, 30, 46, 0.0);
    border-bottom: 0px solid #282828;
    color: #f4d9e1
}

.modules-left {
    background: rgba(30, 30, 46, 0.5);
    border-radius: 0px 24px 24px 0px;
    padding-right: 13px;
    margin: 5px 10px 5px 0px;
    /* border: 2px solid #282828; */
}

.modules-center {
    background: rgba(30, 30, 46, 0.5);
    border-radius: 24px 24px 24px 24px;
    margin: 5px 10px 5px 10px;
    /* border: 3px solid #282828; */
}

.modules-right {
    background: rgba(30, 30, 46, 0.5);
    border-radius: 24px 0px 0px 24px;
    padding-left: 13px;
    margin: 5px 0px 5px 10px;
    /* border: 2px solid #282828; */
}

#workspaces {
    background: #282828;
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 16px;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    margin: 5px 5px 5px 5px;
    padding: 1px 4px;
    border-radius: 16px;
    color: #928374;
}

#workspaces button.active {
    padding: 1px 6px;
    /* background-color: #825384; */
    /* background-color: #e5809e; */
    color: #e5809e;
    background-color: transparent;
    border-radius: 32px;
}

#custom-date, #custom-lock, #clock, #battery, #pulseaudio, #network, #custom-randwall, #custom-launcher, #idle_inhibitor {
    background: transparent;
    padding: 5px 15px 5px 10px;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    border: solid 0px #f4d9e1;
}

#idle_inhibitor, #pulseaudio {
    padding: 5px 20px 5px 20px;
}

#custom-date {
    color: #D3869B;
}

#custom-tlp {
    /* background-color: #282828; */
    border-radius: 12px 12px 12px 12px;
    margin: 3px;
    padding: 0px 12px;

    font-weight: bolder;
}

#custom-power {
    color: #e6b9c6;
    background-color: #282828;
    border-radius: 0px;
    padding-left: 13px;
    padding-right: 15px;
    margin: 0px 0px 0px -10px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}

#tray {
    background: #282828;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    padding: 0px 10px;
    /*border-right: solid 1px #282738;*/
}

#clock {
    color: #e6b9c6;
    background-color: #282828;
    border-radius: 24px 0px 0px 24px;
    padding-left: 13px;
    padding-right: 15px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}


#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7667e;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#backlight {
    /* background-color: #282828; */
    border-radius: 12px;
    margin: 5px;
    padding: 0px 8px;
}

#network {
    color: #f4d9e1;
    border-radius: 8px;
    margin-right: 5px;
}

#pulseaudio {
    color: #f4d9e1;
    border-radius: 8px;
    margin-left: 0px;
}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}

#custom-randwall {
    color: #f4d9e1;
    border-radius: 8px;
    margin-right: 0px;
}

#custom-launcher {
    color: #e5809e;
    background-color: #282828;
    border-radius: 0px 24px 24px 0px;
    margin: 0px 5px 0px 0px;
    padding: 0 30px 0 14px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
    background: #282828;
    padding-left: 15px;
    padding-right: 14px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#custom-wf-recorder {
    padding: 0 20px;
    color: #e5809e;
    background-color: #1E1E2E;
}

#cpu {
    background-color: #282828;
    /*color: #FABD2D;*/
    border-radius: 20px 12px 12px 20px;
    /* margin: 3px; */
    margin-right: 5px;
    padding: 0px 12px;
    font-weight: bold;
}

#memory {
    background-color: #282828;
    /*color: #83A598;*/
    border-radius: 12px 20px 20px 12px;
    /* margin: 3px; */
    margin-left: 5px;
    padding: 0px 12px;
    font-weight: bold;
}

#disk {
    /* background-color: #282828; */
    border-radius: 12px 12px 12px 12px;
    margin: 3px;
    padding: 0px 12px;
    font-weight: bold;
}

#custom-hyprpicker {
    background-color: #282828;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}

#custom-lock {
    color: #e6b9c6;
    background-color: #282828;
    border-radius: 0px;
    padding-left: 13px;
    padding-right: 15px;
    margin: 0px 0px 0px -10px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}
