* {
    border: none;
    border-radius: 0px;

    font-family: "Fira Code Nerd Font", Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;

    min-height: 0;
}

#window {
    background: #282828;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.5);
    border-bottom: 0px solid #282828;
    color: #f4d9e1
}

.modules-left {
    background: rgba(30, 30, 46, 0.0);
    border-radius: 0px 0px 0px 0px;
    padding-left: 10px;
}

.modules-center {
    background: rgba(30, 30, 46, 0.0);
    border-radius: 0px;
}

.modules-right {
    background: rgba(30, 30, 46, 0.0);
    padding-right: 10px;
}

#workspaces {
    background-color: transparent;
}
#workspaces button {
    padding: 0px;
    border-radius: 16px;
    color: #e5809e;
}

#workspaces button.active {
    padding: 1px 6px;
    color: #f4d9e1;
    background-color: transparent;
    border-radius: 32px;
}

#backlight, #disk, #memory, #cpu, #temperature, #custom-date, #custom-lock, #clock, #battery, #pulseaudio, #network, #custom-randwall, #custom-launcher, #idle_inhibitor {
    background: transparent;
    padding: 5px 12px 5px 12px;
}

#tray {
    background: #282828;
    margin: 8px 5px;
    border-radius: 16px;
    padding: 0px 10px;
}

#battery {
    padding: 5px 15px 5px 10px;
    border-radius: 5px 5px 5px 5px;
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f77777;
    color: #24283b;
}

#battery.critical:not(.charging) {
    background-color: #FF4444;
    color: #24283b;
}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}

#custom-playerctl {
    background: #282828;
    padding-left: 15px;
    padding-right: 14px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    /* margin-top: 5px; */
    margin-bottom: 5px;
    margin-left: 0px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    /* margin-top: 5px; */
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}
