#window {
    background-color: #282828;
    border: 2px solid #89b4fa;
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 14px;
    color: #cdd6f4;
}

#entry {
    padding: 8px;
    margin: 4px 8px 4px 8px;
    border-radius: 4px;
    color: #828374;
}

#entry:selected {
    background-color: #484848;
    color: #f4d9e1;
    border: none;
    box-shadow: none;
    box-shadow: inset 0px 2px 5px 0px #202020;
}

#input {
    margin: 10px;
    border-radius: 4px;
    padding: 6px;
    background-color: #484848;
    color: #cdd6f4;
    border: none;
    box-shadow: none;
    box-shadow: inset 0px 2px 5px 0px #202020;
    outline: none;
}
