* {
    border: none;
    border-radius: 0px;

    font-family: "Fira Code Nerd Font", Iosevka, FontAwesome, Noto Sans CJK;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;

    min-height: 0;
}

#window {
    background: #1e1e1e; /* dark background */
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.0);
    border-bottom: 0px solid #1e1e1e;
    color: #cdd6f4; /* main text color */
}

.modules-left, .modules-center, .modules-right {
    background: #2e2e2e;
    border-radius: 12px;
    padding: 5px;
    margin: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 8px 8px -10px rgba(0,0,0,0.52);
}

.modules-left {
    padding-left: 10px;
    padding-right: 10px;
}

.modules-right {
    padding-right: 10px;
}

#workspaces {
    background-color: transparent;
}
#workspaces button {
    padding: 2px;
    border-radius: 16px;
    color: #89b4fa; /* inactive workspace text */
}

#workspaces button.active {
    padding: 2px 6px;
    color: #1e1e1e; /* active workspace text */
    background-color: #89b4fa; /* active workspace bg */
    border-radius: 32px;
}

#custom-playerctl, #backlight, #disk, #memory, #cpu, #temperature, #custom-date, #custom-lock, #clock, #battery, #pulseaudio, #network, #custom-randwall, #custom-launcher, #idle_inhibitor {
    background: transparent;
    padding: 5px 12px 5px 12px;
}

#tray {
    border: 0px solid #1e1e1e;
    background-color: #3a3a3a;
    border-radius: 12px;
    padding: 0px 1
